body {
    height: 100%
}

.banxin {
    position: relative
}

.logo2 {
    display: none
}

.nobg {
    background: none !important;
    border: 0 !important
}

.nobg a {
    color: #fff !important;
    font-weight: 700;
    background: none !important
}

.nobg .login-register a {
    border-color: #6383c1;
    color: #ffffff
}

.nobg .logo1 {
    display: none
}

.nobg .logo2 {
    display: block
}

.section1 {
    background: url(../images/theme.jpg) no-repeat center top;
    padding-top: 0;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    display: table !important;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    padding: 0 !important
}

.section1 h1, .section1 h2, .section1 p, .section2-main-bottom .main-right strong, .section2-main-top .main-left strong, .section2-main-bottom-min .main-left strong {
    font-family: "Microsoft Yahei" !important;
    font-weight: 400
}

.section1 p {
    font-size: .6rem;
    color: #fff
}

.section1 h1, .section1 h2 {
    font-size: .8rem;
    margin-bottom: 1rem;
    padding-top: 0;
    margin-top: -80px !important
}

.section1 h3 {
    color: #fff;
    text-align: center
}

.section2 {
    overflow: hidden;
    padding: 2rem 2.85rem 2.6rem
}

.section2 a {
    color: #9E9E9E
}

.section2 a:hover {
    color: #3891f8
}

.section2 .main-left {
    margin-right: 1%
}

.section2 .main-left, .section2 .main-right {
    float: left
}

.section2-main-bottom .main-right, .section2-main-bottom-min .main-right, .section2-main-top .main-left {
    width: 63%
}

.section2-main-top {
    margin-bottom: 2.175rem;
    overflow: hidden
}

.section2-main-bottom .main-right, .section2-main-bottom-min .main-right {
    margin-right: 0
}

.section2-main-bottom .main-left, .section2-main-bottom-min .main-left, .section2-main-top .main-right {
    width: 36%;
    position: relative;
    min-width: 330px;
    height: 232px
}

.section2-main-top .main-right {
    position: absolute;
    right: 0;
    top: 0
}

.section2-main-bottom .main-right strong, .section2-main-bottom-min .main-right strong, .section2-main-top .main-left strong {
    font-size: .55rem;
    color: #272829;
    display: block;
    padding-top: .65rem
}

.section2-main-bottom .main-right strong, .section2-main-bottom-min .main-right strong {
    padding-top: 1.65rem
}

.section2-main-bottom .main-right > p, .section2-main-bottom-min .main-right > p, .section2-main-top .main-left > p {
    margin: .675rem 0 .35rem;
    line-height: 26px
}

.section2-main-top .main-left .text-right, .section2-main-top .main-right .text-right {
    margin-top: 0
}

.section2-main-bottom .main-left, .section2-main-bottom-min .main-left {
    background: url(../images/section2_bg.png) no-repeat left bottom
}

.comb {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0
}

.comb > div {
    position: absolute;
    left: 0;
    top: 0
}

.comb a {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/comb1.png) #e97e58;
    width: 60px;
    height: 104px;
    color: #fff;
    font-size: 12px;
    padding-top: 77px;
    text-align: center
}

.comb .two {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
    background-image: none
}

.comb .three {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
    background-image: none
}

.comb .comb2 a {
    background-color: #4292e2;
    background-position: left -138px
}

.comb .comb2 {
    top: 55px;
    left: 77px
}

.comb .comb3 a {
    background-color: #bd67a7;
    background-position: left -284px
}

.comb .comb3 {
    top: 110px;
    left: 173px
}

.comb .comb4 a {
    background-color: #eb6c73;
    background-position: left -405px
}

.comb .comb4 {
    top: 55px;
    left: 269px
}

.comb .comb1 {
    left: 173px
}

@media screen and (max-width: 1459px) {
    .section2-main-bottom .main-right, .section2-main-top .main-left, .section2-main-bottom-min .main-right {
        width: 60%
    }
}

@media screen and (min-width: 1236px) and (max-width: 1490px) {
    .section2 .banxin {
        width: 90%
    }

    .section2-main-top .main-left, .section2-main-bottom .main-right, .section2-main-bottom-min .main-right {
        width: 60%
    }

    .section2 .main-left {
        margin-right: 0 !important
    }

    .section2-main-bottom .main-left, .section2-main-bottom-min .main-left, .section2-main-top .main-right {
        width: 40%
    }

    .section2-main-bottom .main-left, .section2-main-bottom-min .main-left {
        width: 30%;
        min-width: 200px
    }

    .section2-main-bottom .main-right, .section2-main-bottom-min .main-right {
        width: 70%
    }
}

.section2-main-bottom-min strong {
    font-weight: normal
}

@media screen and (max-width: 1236px) {
    .section2 .main-left, .section2 .main-right {
        width: 100%
    }

    .section2-main-bottom-min {
        display: block !important
    }

    .section2-main-bottom {
        display: none
    }

    .section2-main-bottom-min .main-left {
        background-position: center bottom
    }

    .section2-main-bottom .main-left, .section2-main-bottom-min .main-left, .section2-main-top .main-right {
        position: relative
    }
}

@media screen and (max-width: 500px) {
    .section2 {
        padding-left: 0;
        padding-right: 0
    }
}

.section3 > p {
    margin-top: 3%
}

.section3 strong {
    color: #6b7073;
    font-size: .9rem;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", "瀹嬩綋", "sans-serif";
    font-weight: 400;
    display: block;
    margin-bottom: 1.85rem
}

.section3-main-bottom, .section3-main-top {
    width: 100%;
    background: #eff3f6;
    overflow: hidden;
    padding: 2.675rem 0
}

.section3-main-bottom {
    padding-bottom: 2.35rem
}

.exhibition {
    margin: 0 auto;
    overflow: hidden
}

.exhibition li {
    width: 12.5%;
    min-height: 110px;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    float: left;
    padding: 0 .35rem
}

.exhibition li a {
    display: block;
    margin: 11px 0
}

.exhibition li:nth-of-type(1) {
    margin-left: 0
}

.exhibition li:last-of-type {
    margin-right: 0
}

.exhibition img {
    width: 100%;
    height: auto;
    margin-bottom: .3rem;
    border-radius: .5rem
}

.section3-main-bottom {
    background: #ffffff
}

.partner {
    width: 25rem;
    height: 7.5rem;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    min-height: px
}

.partner > ul {
    width: 2000%;
    height: 8.5rem;
    position: absolute;
    left: 0;
    top: 0
}

.partner > ul > li {
    width: 5%;
    height: 100%
}

.partner li li {
    width: 25%;
    height: 1.9rem;
    max-width: 200px;
    max-height: 76px
}

.partner li li img {
    width: 90%;
    max-width: 168px;
    margin: 0 auto;
    height: auto
}

.noml {
    margin-left: 0 !important
}

.nomrr {
    margin-right: 0 !important
}

.partner li {
    float: left
}

.section3-main-bottom ol {
    width: 50px;
    margin: 0 auto;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -25px
}

.carousel-indicators li {
    float: left;
    border: 0 none !important
}

.section3-main-bottom ol li {
    width: 15px;
    height: 15px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    background: #ccc;
    margin: 0 5px;
    float: left;
    cursor: pointer
}

.section3-main-bottom ol li.active {
    background: #333;
    width: 15px;
    height: 15px
}

.section3-main-bottom ol li.active {
    width: 15px;
    height: 15px;
    background: #333;
    margin: 0 5px !important
}

.section1 h2 {
    color: #fff !important
}

.section1 > div {
    width: 100%;
    vertical-align: middle;
    display: table-cell;
    height: 90%;
    padding: 0;
    border: 0
}

.section2-main-bottom-min {
    display: none
}

@media (min-width: 40em) and (max-width: 1200px) {
    .partner {
        height: 10rem
    }

    .section1 h1, .section1 h2 {
        font-size: 30px
    }

    .section1 p {
        font-size: 20px
    }

    .section2 .banxin {
        width: 100%
    }

    .comb {
        right: 0;
        left: 50%;
        margin-left: -200px
    }

    .section2-main-bottom-min .main-left {
        background-position: center bottom
    }

    .section2-main-bottom .main-right strong, .section2-main-bottom-min .main-right strong, .section2-main-top .main-left strong {
        font-size: 22px
    }

    .section2-main-bottom .main-right > p, .section2-main-bottom-min .main-right > p, .section2-main-top .main-left > p {
        font-size: 14px
    }
}

.section1-min {
    display: none !important
}

@media screen and (max-width: 40em) {
    .section1-min-hidden {
        display: none !important
    }

    .section1-min {
        display: table !important
    }

    .section1 h3, .section1 h2 {
        font-size: 28px !important
    }

    .section2 .banxin {
        width: 100%
    }

    .section2-main-bottom-min .main-right strong, .section2-main-top .main-left strong {
        font-size: 18px
    }

    .exhibition li {
        width: 25%
    }

    .free {
        line-height: 40px !important;
        height: 40px !important
    }

    .section2-main-bottom .main-left {
        background-position: 68px bottom
    }

    .comb {
        position: absolute;
        left: 50%;
        margin-left: -208px
    }

    .partner li li {
        height: 1.2rem
    }

    .partner li li img {
        width: 100%
    }

    .partner {
        height: 7.5rem
    }

    .footer-main dt {
        font-size: 14px
    }

    .partner > ul {
        height: 7rem
    }

    .section2 .main-left, .section2 .main-right {
        width: 100%;
        margin: 0 auto
    }

    .exhibition {
        width: 94%
    }

    .section1 p {
        font-size: 16px
    }

    .section3 strong {
        font-size: 16px
    }

    .section2-main-bottom .main-right > p, .section2-main-top .main-left > p {
        font-size: 14px
    }

    .section2-main-bottom-min .main-right, .section2-main-top .main-left {
        width: 80%;
        margin: 0 auto;
        float: none
    }

    .partner {
        width: 92%
    }

    .partner li li {
        width: 33.3%
    }

    .section3-main-bottom ol li, .section3-main-bottom ol li.active {
        width: 12px !important;
        height: 12px !important
    }

    .exhibition li {
        width: 25%
    }
}

.section4 {
    background: #eff3f6;
    overflow: hidden;
    padding: 1.85rem 0 1.75rem
}

.section4 img {
    margin-bottom: 1.05rem
}

.free {
    width: 7.5rem;
    height: 1.5rem;
    font-size: .45rem;
    line-height: 1.5rem;
    background: #3891f8;
    color: #fff !important;
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", "宋体", "sans-serif";
    min-height: 40px;
    padding: 0
}

.free:hover {
    background: #3587e6 !important
}

@media screen and (max-width: 640px) {
    .section1 h1, .section1 h2 {
        font-size: 20px;
        margin-bottom: 25px
    }

    .section1 p {
        font-size: 16px
    }
}

@media screen and (min-width: 767px) and (max-width: 40em) {
    .section1 h1, .section1 h2 {
        font-size: 20px
    }
}

.comb a:hover {
    color: #fff !important
}

.nobg .nav ul a:hover {
    color: #3891f8 !important;
}